body{
    background-color: rgb(141, 255, 141);
}
.main{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
}
.tdcenter{
    text-align: center;
}
.tdleft{
    width: ;
}